<div id="contact-section" class="marki-it">
    <h3 class="marki-it">Zainteresowane osoby zapraszam do kontaktu:</h3>
    <a href="https://www.facebook.com/piotr.markiewicz.96" id="fb-link" target="_blank" aria-label="Odwiedź mnie na Facebooku"><i class="fab fa-facebook-square"> Facebook</i></a>
    <a href="tel:+48798613113" id="phone-link" aria-label="Zadzwoń i zapytaj o realizację zadania"><i class="fa fa-phone" aria-hidden="true"> Telefon</i></a>
    <a href="https://www.youtube.com/@PiotrMarkiewicz-s1v" id="youtube-link" target="_blank"  aria-label="Odwiedź mój kanał na YouTube"><i class="fab fa-youtube-square"> YouTube</i></a>
    <a href="https://www.linkedin.com/in/piotr-markiewicz-339435131/" id="linkedin-link" target="_blank" aria-label="Odwiedź mnie na LinkedIn"><i class="fab fa-linkedin"> LinkedIn</i></a>
    <a href="mailto:strony.pm@gmail.com" id="email-link" aria-label="Wyślij e-mail do Anety"><i class="fas fa-envelope"> E-mail</i></a>
    <br><br><span id="PM">©2025 Piotr Markiewicz |<a class="policy" href="./polityka-prywatnosci.html" target="_blank">Polityka prywatności</a></span>
</div>