<nav>
    <ul>
        <li><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="#0055cc"><path d="M8 5l7 7-7 7" stroke="#0055cc" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg>
            <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="#0055cc"><path d="M8 5l7 7-7 7" stroke="#0055cc" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg>
            <a routerLink="/about" routerLinkActive="active">O mnie</a></li>
        <li><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="#0055cc"><path d="M8 5l7 7-7 7" stroke="#0055cc" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg>
            <a routerLink="/projects" routerLinkActive="active">Projekty</a></li>
        <li><svg width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill="#0055cc"><path d="M8 5l7 7-7 7" stroke="#0055cc" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round"/></svg>
            <a routerLink="/contact" routerLinkActive="active">Kontakt</a></li>
    </ul>
</nav>