<div class="content">
</div>

<section id="contact-section">
    <h1>Kontakt</h1>
    <p class="name"><strong>Piotr Markiewicz</strong></p>
    <p>📧 <strong>Email</strong>: <a href="mailto:strony.pm@gmail.com">strony.pm</a></p>
    <p>📞 <strong>Telefon</strong>: <a href="tel:+48798613113">+48 798 613 113</a></p>
    <!-- <p>🌐 Strona: <a href="https://piotrmarkiewicz.pl" target="_blank">piotrmarkiewicz.pl</a></p> -->
    <p>📍 <strong>Adres</strong>: ul. Zagłoby 9, 02-492 Warszawa</p>
    <p>📅 <strong>Godziny pracy</strong>: Poniedziałek - Piątek, 8:00 - 16:00</p>
    <p>📱 <strong>Social Media</strong>:</p>
    <ul>
        <li><a class="bold" href="https://www.facebook.com/piotr.markiewicz.96" target="_blank" id="fb-link" target="_blank" aria-label="Odwiedź mnie na Facebooku"><i class="fab fa-facebook-square"></i> Facebook</a></li>
        <li><a class="bold" href="https://www.linkedin.com/in/piotr-markiewicz-339435131/" target="_blank" aria-label="Odwiedź mnie na LinkedIn"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
    </ul>
</section>
