
<section class="intro">
    <h1>O mnie</h1>
    <p>Jestem absolwentem<strong>Warszawskiej Wyższej Szkoły Informatyki</strong>(listopad 2022).</p>
    <p>Prawie całe moje życie zawodowe spędziłem służąc Ojczyźnie. Przechodząc przez
        różne stanowiska w kilku Jednostkach Wojskowych nabywałem szerokiego doświadczenia
        zawodowego i miałem okazję zwiększać kompetencje podnosząc mój stopień wojskowy.</p>
    <p>Mam szerokie<strong>doświadczenie w kierowaniu zespołem</strong>, które zdobyłem i miałem
        poszerzać podczas mojej służby. Jestem osobą<strong>sumienną, dokładną, odpowiedzialną</strong>
        i szybko się uczę oraz z zaangażowaniem podejmuje się różnych wyzwań. Doskonale
        odnajduję się w pracy pod presją czasu oraz w warunkach, gdzie trzeba szybko reagować na
        zmienne sytuacje.</p>
    <p>Od kilku lat rozwijam swoje umiejętności w programowaniu, które stało się moją<strong>pasją</strong>.</p>
    <p>Współpracę komercyjną z<strong>Uniqa Polska S.A.</strong> rozpocząłem 2 maja 2024 roku jako
        Junior .Net Developer. Wcześniej, w 2023 roku, odbyłem w tej samej firmie 2-miesięczne
        praktyki, po których przez kolejny miesiąc byłem zatrudniony na umowę zlecenie.
        Podczas obu tych doświadczeń doskonaliłem swoje kompetencje jako<strong>Full stack developer</strong>,
        pracując nad backendem w<strong>C#/.NET Core</strong>(Visual Studio 2022) oraz
        frontendem z wykorzystaniem frameworka<strong>Angular</strong>. Projekty realizowane były zgodnie
        z metodyką Agile/Scrum, wykorzystując oprogramowanie Jira do zarządzania zadaniami.
    </p>
    <p>Jestem pasjonatem programowania i stale doskonalę swoje umiejętności w zakresie
        <strong>ASP.NET Core</strong>, <strong>Angular</strong> i <strong>Java Spring</strong>. Rozwijam również swoje umiejętności w zakresie
        projektowania i tworzenia stron internetowych przy użyciu <strong>HTML5</strong>, <strong>CSS3</strong>, <strong>JS</strong>, <strong>PHP</strong>, <strong>Sass</strong> i <strong>Bootstrap</strong>.</p>
</section>
