.intro {
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.intro h1 {
    margin-bottom: 10px;
}

.intro p {
    margin-bottom: 10px;
    line-height: 1.6;
    font-size: large;
}