<section class="intro">
    <div>
        <h1>Nazywam się Piotr Markiewicz 👋</h1>
    </div>
    <div>
        <p>Jestem <strong>Fullstack Developerem</strong> (<i>Angular + .NET</i>)</p>
        <p>Projektuje również strony internetowe z wykorzystaniem <i>HTML, CSS</i> i <i>JavaScript</i>.</p>
    </div>
</section>

<section class="websites">
    <h2>Moje przykładowe strony</h2>
    <ul class="websites-list">
        <li><a href="https://alinowkadomeknamazurach.pl" target="_blank">alinowkadomeknamazurach.pl</a></li>
        <li><a href="https://anetamarkiewicz.com" target="_blank">anetamarkiewicz.com</a></li>
        <li><a href="https://mariuszdrabarek.pl" target="_blank">mariuszdrabarek.pl</a></li>
    </ul>
</section>

<section class="skills">
    <h2>Umiejętności</h2>
    <ul>
        <li>Znajomość frameworka <strong>Angular</strong></li>
        <li>Znajomość programowania w języku <strong>C#</strong></li>
        <li>Dobra znajomość <strong>HTML5</strong> i <strong>CSS3</strong></li>
        <li>Znajomość tworzenia aplikacji webowych w środowisku <strong>.NET/.NET Core</strong> / <strong>ASP.NET Core Web API</strong> / <strong>REST full API</strong></li>
        <li>Umiejętność pracy w <strong>Microsoft Azure</strong></li>
        <li>Dobra znajomość baz danych <strong>SQL</strong></li>
        <li>Znajomość programowania w języku <strong>PHP</strong></li>
        <li>Znajomość systemu kontroli wersji <strong>Git</strong></li>
        <li>Podstawowa znajomość <strong>Docker</strong></li>
        <li>Znajomość metodyki zarządzania projektami <strong>Agile/Scrum</strong></li>
        <li>Umiejętność pracy w zespole i komunikacji</li>
        <li>Znajomość języka angielskiego na poziomie umożliwiającym czytanie dokumentacji oraz krótkiej rozmowy (dodam że<strong>rozumiem więcej niż potrafię powiedzieć</strong> oraz obecnie uczestniczę w kursie online poziomu<strong>B1</strong>)</li>
    </ul>
</section>

<section class="courses">
    <h2>Ukończone kursy</h2>
    
    <li class="course" *ngFor="let course of courses">
        {{ course }}
    </li>
</section>

<a class="scrollTopButton" [class.visible]="showScrollTop" (click)="scrollToTop()">
    <img src="assets/img/arrow-top.webp" alt="arrow up" width="50px" height="50px">
</a>

<script src="../../scripts/arrowUp.js" defer></script>
