<section class="intro">
    <div>
        <h1>Nazywam się Piotr Markiewicz <button (click)="toggle()">👇</button></h1>
    </div>
        <p
        [@openClose]="isOpen ? 'open' : 'closed'" 
        class="home-description"
        >Jestem <strong>Fullstack Developerem</strong> (Angular + .NET)
        <br>Projektuje również strony internetowe z wykorzystaniem <br> HTML, CSS i JavaScript.</p>
</section>

<section class="websites"
    [class.margin-open]="isOpen">
    <h2>Moje przykładowe strony</h2>
    <ul class="websites-list">
        <li><a href="https://alinowkadomeknamazurach.pl" target="_blank">alinowkadomeknamazurach.pl</a></li>
        <li><a href="https://anetamarkiewicz.com" target="_blank">anetamarkiewicz.com</a></li>
        <li><a href="https://mariuszdrabarek.pl" target="_blank">mariuszdrabarek.pl</a></li>
    </ul>
</section>

<section class="skills">
    <h2>Umiejętności</h2>
    <ul>
        <li>Znajomość frameworka <strong>Angular</strong></li>
        <li>Znajomość programowania w języku <strong>C#</strong></li>
        <li>Dobra znajomość <strong>HTML5</strong> i <strong>CSS3</strong></li>
        <li>Znajomość tworzenia aplikacji webowych w środowisku <strong>.NET/.NET Core</strong> / <strong>ASP.NET Core Web API</strong> / <strong>REST full API</strong></li>
        <li>Umiejętność pracy w <strong>Microsoft Azure</strong></li>
        <li>Dobra znajomość baz danych <strong>SQL</strong></li>
        <li>Znajomość programowania w języku <strong>PHP</strong></li>
        <li>Znajomość systemu kontroli wersji <strong>Git</strong></li>
        <li>Podstawowa znajomość <strong>Docker</strong></li>
        <li>Znajomość metodyki zarządzania projektami <strong>Agile/Scrum</strong></li>
        <li>Umiejętność pracy w zespole i komunikacji</li>
        <li>Znajomość języka angielskiego na poziomie umożliwiającym czytanie dokumentacji oraz krótkiej rozmowy (dodam że<strong>rozumiem więcej niż potrafię powiedzieć</strong> oraz obecnie uczestniczę w kursie online poziomu<strong>B1</strong>)</li>
    </ul>
</section>

<section class="courses">
    <h2>Ukończone kursy</h2>
    <ul>
        <li>"Angular i Java Spring Od zera do Fullstack developera (Udemy)"</li>
        <li>"Praktyczny kurs ASP.NET Core REST Web API (C#) (Udemy)"</li>
        <li>"ASP.NET Core MVC - praktyczny kurs od podstaw (C# .NET 7) (Udemy)"</li>
        <li>"Kompletny kurs C# dla developerów .NET (Udemy)"</li>
        <li>"Microsoft Azure - praktyczny kurs dla developerów .NET (Udemy)"</li>
        <li>"Kurs Tworzenia Stron WWW w HTML i CSS od Podstaw do Eksperta (Udemy)"</li>
        <li>"CCNAv7: Enterprise Networking, Security, and Automation  (WWSI)"</li>
    </ul>
    <!-- <li class="course" *ngFor="let course of courses">
        {{ course }}
    </li> -->
</section>

<a class="scrollTopButton" [class.visible]="showScrollTop" (click)="scrollToTop()">
    <img src="assets/img/arrow-top.webp" alt="arrow up" width="50px" height="50px">
</a>

<script src="../../scripts/arrowUp.js" defer></script>
