section {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;

    h1 {
        font-size: 2em;
        color: #00b99a;
    }

    p {
        font-size: 1.3em;
        line-height: 1.6;
    }
    a {
        font-size: 24px;

        &:hover {
            text-decoration: underline;
            font-style: italic;
        }
    }
}

@media (max-width: 551px) {
    section a {
        margin-left: 10px;
    }
}

.courses li {
    list-style-type: none;
}

.intro, .skills {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

li::before {
    content: "✨️";
    margin-right: 0;
}
.websites-list {
    font-size: 1.5em;
}

.websites-list li::before {
    content: "✨️";
    margin-left: -30px;
}

@media (max-width: 548px) {
        .websites-list li::before {
        content: "";
        margin-left: -50px;
    }
}

.scrollTopButton {
    position: fixed;
    right: 32px;
    bottom: 32px;
    z-index: 1000;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.scrollTopButton.visible {
    opacity: 0.6;
    cursor: pointer;
    pointer-events: auto;
}

.scrollTopButton.visible:hover {
    opacity: 1;
    cursor: pointer;
    pointer-events: auto;
}
